@charset "utf-8";
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  padding: 0;
  outline: 0;
  margin: 0;
}
button {
  line-height: 2em;
  padding: 0 0.3em;
  border: 1px solid #aaa;
  border-radius: 4px;
}
input {
  line-height: 2em;
  padding: 0 0.3em;
  border: 1px solid #aaa;
  border-radius: 4px;
}
input[type=checkbox] {
  width: 1.5em;
  height: 1.5em;
}
@media only screen and (min-width: 369px) {
  .masonry {
    column-count: 1;
    column-gap: 21px;
    width: 369px;
    margin: 0 auto;
    text-align: center;
  }
  .head {
    margin: 0 auto;
    width: 369px;
  }
  .cmscontent {
    margin: 0 auto;
    width: 369px;
  }
}
@media only screen and (min-width: 759px) {
  .masonry {
    column-count: 2;
    column-gap: 21px;
    width: 759px;
    margin: 0 auto;
    text-align: center;
  }
  .head {
    margin: 0 auto;
    width: 759px;
  }
  .cmscontent {
    margin: 0 auto;
    width: 759px;
  }
}
@media only screen and (min-width: 1149px) {
  .masonry {
    column-count: 3;
    column-gap: 21px;
    width: 1149px;
    margin: 0 auto;
    text-align: center;
  }
  .head {
    margin: 0 auto;
    width: 1149px;
  }
  .cmscontent {
    margin: 0 auto;
    width: 1149px;
  }
}
@media only screen and (min-width: 1539px) {
  .masonry {
    column-count: 4;
    column-gap: 21px;
    width: 1539px;
    margin: 0 auto;
    text-align: center;
  }
  .head {
    margin: 0 auto;
    width: 1539px;
  }
  .cmscontent {
    margin: 0 auto;
    width: 1539px;
  }
}
.masonry {
  margin: 0 auto;
  text-align: center;
}
.head {
  display: flex;
  flex-direction: row;
}
.head .head-01 {
  width: 20%;
  /*background-color:#C36;*/
}
.head .head-02 {
  width: 60%;
  height: 370px;
  /*background-color:#C93;*/
  text-align: center;
  padding-top: 60px;
}
.head .head-03 {
  width: 20%;
  /*min-width: 150px; */
  height: 345px;
  /*background-color:#C36;*/
  text-align: right;
  padding-top: 130px;
  font-family: Candarab;
}
.pading-shop {
  line-heght: 0.8;
  font-size: 28px;
  padding-right: 30px;
}
@media only screen and (max-width: 759px) {
  .head {
    flex-wrap: wrap;
  }
  .head .head-01 {
    order: 2;
    width: 50%;
    padding: 0;
    text-align: left;
    align-self: center;
  }
  .head .head-02 {
    order: 1;
    width: 369px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .head .head-03 {
    order: 3;
    width: 50%;
    height: auto;
    padding: 0;
    margin-bottom: 20px;
    text-align: right;
  }
  .pading-shop {
    line-heght: 0.8;
    font-size: 28px;
    padding: 0;
  }
}
.content {
  margin: 15px auto 0;
  width: 369px;
}
.content h1 {
  text-align: center;
}
div#pcart {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-bottom: 2em;
}
div#pcart div.pitem,
div#pcart div.ptotal {
  padding: 5px;
  border: 1px solid;
  border-bottom: none;
  display: flex;
  flex-direction: column;
}
div#pcart div.pitem:last-child,
div#pcart div.ptotal:last-child {
  border-bottom: 1px solid;
}
div#pcart div.pitem div.prow1,
div#pcart div.ptotal div.prow1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
div#pcart div.pitem div.prow1 div.pname,
div#pcart div.ptotal div.prow1 div.pname {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: left;
}
div#pcart div.pitem div.prow1 div.priceqty,
div#pcart div.ptotal div.prow1 div.priceqty {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  margin-left: 5px;
}
div#pcart div.pitem div.prow1 div.priceqty div.pprice,
div#pcart div.ptotal div.prow1 div.priceqty div.pprice {
  width: 100%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.priceqty div.pqty,
div#pcart div.ptotal div.prow1 div.priceqty div.pqty {
  width: 100%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.pamount,
div#pcart div.ptotal div.prow1 div.pamount {
  flex-basis: 25%;
  flex-grow: 1;
  margin-left: 5px;
}
div#pcart div.pitem div.prow1 div.pdelete,
div#pcart div.ptotal div.prow1 div.pdelete {
  flex-basis: 10%;
  flex-grow: 1;
  margin-left: 5px;
}
div#pcart div.pitem div.prow1 div.pdelete button,
div#pcart div.ptotal div.prow1 div.pdelete button {
  padding: 0;
}
div#pcart div.pitem div.pinstr,
div#pcart div.ptotal div.pinstr {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 3px 0;
}
div#pcart div.pitem div.pinstr input,
div#pcart div.ptotal div.pinstr input {
  width: 100%;
  outline: none;
  border: 0;
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #888;
  line-height: 0;
}
div#pcart div.pitem div.pinstr input::placeholder,
div#pcart div.ptotal div.pinstr input::placeholder {
  color: #ff6633;
}
div#pcart div.pitem div.pinstr input::-webkit-input-placeholder,
div#pcart div.ptotal div.pinstr input::-webkit-input-placeholder {
  color: #ff6633;
}
div#pcart div.pitem div.pinstr input::-ms-input-placeholder,
div#pcart div.ptotal div.pinstr input::-ms-input-placeholder {
  color: #ff6633;
}
.content div.docheader {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content div.docheader div.docrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 20px;
}
.content div.docheader div.docrow div.value {
  flex-grow: 1;
  width: 70%;
}
.content div.docheader div.docrow div.value input {
  width: 100%;
}
.content div.docheader div.docrow div.inpbtnvalue {
  width: 70%;
  display: flex;
  flex-direction: row;
}
.content div.docheader div.docrow div.inpbtnvalue input.phone {
  width: 90px;
  flex-grow: 1;
}
.content div.docheader div.docrow div.inpbtnvalue input.smscode {
  width: 70px;
  flex-grow: 1;
}
.content div.docheader div.docrow div.inpbtnvalue button {
  flex-grow: 0;
  margin-left: 15px;
}
.content div.docheader div.docrow div.label {
  font-size: 18px;
  flex-grow: 1;
  width: 30%;
}
.content div.docheader div.docrow:first-child {
  margin-top: 10px;
}
.cell {
  display: inline-block;
  width: 369px;
  margin: 1em 0 1em;
  background-color: #FFF;
  border: 4px solid #000;
  padding: 0px 10px;
}
.photo {
  width: 100%;
  height: 120px;
  /*background-color:#666;*/
  padding-top: 10px;
  padding-bottom: 15px;
}
.photo img {
  width: auto;
  height: 100px;
}
.background {
  overflow-x: hidden;
  font-family: Candara;
  min-width: 380px;
  background-image: url(/static/images/back.jpg);
  /* background-size:100%;
	background-position:top;
	background-repeat:no-repeat; */
  background-size: auto 370px;
  background-position: top;
  background-repeat: repeat-x;
}
/* CSS Document Pescado La Cruz*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*-----------------------------------------*/
a,
a:visited {
  text-decoration: underline;
  color: inherit;
}
/*
a:hover.link{
    color:#000;  
    text-decoration:none;
	border-bottom: 1px dashed #000;
} */
/*-----------------------------------------*/
a:hover {
  color: #df0000;
  text-decoration: underline;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
@font-face {
  font-family: Candara;
  src: url(/static/font/Candara.ttf);
}
@font-face {
  font-family: Candarab;
  src: url(/static/font/Candarab.ttf);
}
/*-----------------------------------------*/
.pading-logo-footer {
  margin-bottom: 10px;
}
/*-----------------------------------------*/
h1 {
  font-size: 36px;
  line-height: 1;
}
h2 {
  font-size: 21px;
  margin-top: 20px;
  line-height: 1;
  font-family: Candarab;
}
h3 {
  font-size: 18px;
  line-height: 1.2;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/
.box {
  width: 90px;
  height: 58px;
  text-align: center;
  font-size: 20px;
  font-family: Candara;
  border: 3px solid #999999;
  float: left;
  margin-left: 23px;
  margin-top: 18px;
}
.box:hover {
  color: #df0000;
}
.title {
  width: 100%;
  height: 50px;
  /*background-color:#333;*/
  margin-top: -20px;
  background-image: url(/static/images/white.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
.ves {
  float: left;
  width: 365px;
  height: 80px;
  /*background-color:#999;*/
}
.all {
  float: left;
  width: 365px;
  height: 35px;
  /*background-color:#999;*/
  font-size: 21px;
  font-family: Candarab;
  background-image: url(/static/images/title.png);
}
.upokovka {
  float: left;
  width: 365px;
  height: 30px;
  /*background-color:#999;*/
  font-size: 21px;
  font-family: Candarab;
  background-image: url(/static/images/title-02.png);
}
.title-mini {
  width: 100%;
  /*background-color:#999;*/
}
.product {
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  /*background-color:#C99;*/
}
.product:not(:last-child) {
  border-bottom: 1px dotted #777;
}
.boxer {
  width: 100%;
  /*margin-left:-@cell-padding; */
  /*background-color:#333;*/
}
.paket-01 {
  display: table-cell;
  /*background-color:#C03;*/
  text-align: left;
  line-height: 1;
}
.paket-02 {
  display: table-cell;
  width: 80px;
  vertical-align: middle;
  /*background-color:#99C;*/
  font-size: 50px;
}
.paket-02 input[type="text"] {
  /*height:40px;
        width:80px;
        border:3px solid #000;
        font-family:Candarab;
        text-align:center;
        color:#000; */
  width: 90px;
  height: 58px;
  text-align: center;
  font-size: 20px;
  font-family: Candara;
  border: 3px solid #999999;
  font-size: 25px;
}
.paket-02 input[type="text"].active {
  border: 3px solid #cd0000;
  color: #cd0000;
}
.product-descr {
  font-size: 21px;
}
.product-lot {
  font-size: 18px;
  font-style: italic;
}
.product-price {
  font-size: 21px;
  font-weight: bold;
}
.qtyselector {
  width: 90px;
  height: 58px;
  text-align: center;
  font-size: 20px;
  font-family: Candara;
  border: 3px solid #999999;
  /* display:inline-block; */
  /* vertical-align:middle; */
}
.qtyselector.active {
  border: 3px solid #cd0000;
  color: #cd0000;
}
.minus,
.plus {
  display: inline-block;
  /*background-color:#06C;*/
  font-size: 40px;
  text-align: center;
  vertical-align: middle;
}
.minus:hover,
.plus:hover {
  color: #df0000;
}
.pkgqty {
  display: inline-block;
  /*background-color:#CCC;*/
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
}
.line {
  float: left;
  width: 365px;
  height: 13px;
  /*background-color:#99C;*/
  background-image: url(/static/images/title-03.png);
}
.end {
  width: 100%;
  height: 40px;
  /*background-color:#9F3;*/
  margin-bottom: -20px;
  background-image: url(/static/images/fish.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 15px;
}
/*-----------------------------------------*/
.footer {
  margin: 0 auto;
  width: 100%;
  height: 300px;
  /*background-color:#CCC;*/
  min-width: 400px;
  background-image: url(/static/images/back-footer.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: bottom;
  text-align: center;
  padding-top: 80px;
  font-size: 21px;
  line-height: 1;
}
.active {
  border: 3px solid #cd0000;
  color: #cd0000;
}
.errPlace {
  background: #aff;
}
.total2 {
  position: absolute;
  width: 332.1px;
  text-align: right;
  text-decoration: underline;
  font-size: large;
}
.connectwithus {
  margin: 5px 0 20px;
  display: flex;
  flex-direction: column;
}
.connectwithus a:not(:first-child) {
  margin-left: 7px;
}
.footer a {
  font-weight: bold;
}
#toggle ~ ul {
  display: none;
}
#toggle:checked ~ ul {
  display: block;
  position: absolute;
}
#menu2 {
  display: none;
  font-family: Monserrat, Arial;
  background: #333;
  color: #fff;
  padding: 0 15px 15px 15px;
}
#menu2 h1 {
  padding-top: 20px;
}
#menu2 .legal {
  color: #999;
}
#menu2 #closeBtn {
  float: right;
  font-size: 50px;
  line-height: 70%;
  margin-top: 10px;
  text-align: right;
}
#menu2 #closeBtn:hover {
  background: #fff;
  color: #333;
  cursor: pointer;
}
#menu2 div.menucontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0;
}
#menu2 ul.menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
  margin-right: 40px;
}
#menu2 li {
  padding: 8px;
}
#menu2 li:hover {
  background: #ddd;
  color: #333;
}
#menu2 li a {
  text-decoration: none;
}
#menu2 .connectwithus {
  display: flex;
  flex-direction: row;
}
#menu2 .connectwithus .text {
  margin-right: 20px;
}
#menu2 .connectwithus div {
  align-self: center;
}
#openBtn {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
#homeBtn {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.species {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 40px;
}
.species img {
  max-width: 100%;
}
.species:not(:first-child) {
  border-top: 1px dotted;
}
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.order:not(:last-child) {
  border-bottom: 1px solid;
}
.order .code {
  width: 15%;
  text-align: center;
  font-size: 20px;
}
.order .date {
  width: 20%;
  text-align: center;
}
.order .value_status {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.order .name_address {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.rowheader {
  margin-top: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.hint {
  font-size: small;
}
.hint #delayCounter {
  font-weight: bold;
}
