body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  background: #f1f1f1;
}
header {
  height: 3em;
  background: #1d365d;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
  color: #e2c9a2;
}
header a {
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 3em;
  background: #1d365d;
  color: white;
  font-family: sans-serif;
}
footer div {
  display: flex;
  align-items: center;
}
div.path {
  display: flex;
  height: 2em;
  background: #f1f1f1;
  justify-content: flex-start;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
}
div.path div {
  padding: 0 1em 0 2em;
  display: flex;
  align-items: center;
  position: relative;
  color: #e2c9a2;
}
div.path div:first-child {
  background: hsl(0, 0%, 30%);
  padding: 0 1em 0 1em;
}
div.path div:nth-child(2) {
  background: hsl(0, 0%, 40%);
}
div.path div:nth-child(3) {
  background: hsl(0, 0%, 50%);
}
div.path div:last-child {
  background: inherit;
  color: black;
}
div.path div:after {
  background: inherit;
  display: block;
  content: ' ';
  height: 100%;
  width: 2em;
  position: absolute;
  right: -16px;
  transform: scale(0.7) rotate(45deg);
  z-index: 1;
  box-shadow: 2px -2px 0 1px cornsilk;
}
.wdgwrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 20px;
}
ul.wdgmenu {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  background: #f1f1f1;
}
ul.wdgmenu li {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 1em;
  color: #1d365d;
}
ul.wdgmenu li:hover {
  background: yellow;
  color: black;
}
.wdgcontent {
  display: flex;
  flex: 1;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  background: white;
}
.wdgcontent2 {
  display: flex;
  flex: 1;
  align-items: stretch;
}
.main {
  display: flex;
  flex-direction: row;
  background: white;
  flex: 1;
}
.clientcontent {
  display: flex;
  flex-direction: column;
  background: white;
  flex: 1;
  padding-left: 10em;
  padding-top: 1em;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 2em;
}
.sidebar {
  flex: 0 0 6em;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  font-family: sans-serif;
  background-color: #ddd;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table th {
  background-color: #777;
  color: white;
}
table th,
table td {
  padding: 3px 5px;
}
table td input {
  width: 100%;
  outline: none;
  border: 0;
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #888;
  background: inherit;
  font: inherit;
}
table,
th,
td {
  border: 1px solid #ddd;
}
h1 {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  font-size: 1.5em;
}
div.wdgform {
  padding: 20px;
  border: 1px solid black;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-self: flex-start;
}
div.wdgform div {
  display: flex;
  height: 2.2em;
  justify-content: space-between;
  flex-direction: row;
}
div.wdgform div:not(:first-child) {
  margin-top: 1em;
}
div.wdgform div label,
div.wdgform div input,
div.wdgform div select {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  align-items: center;
}
div.wdgform button {
  margin: 0 0 1em 0;
}
div#errPlace {
  background: #faa484;
}
tr.deleted {
  text-decoration: line-through;
}
.content form,
.clientcontent form,
div.docheader {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.content form div.formline,
.clientcontent form div.formline,
div.docheader div.formline,
.content form div.docrow,
.clientcontent form div.docrow,
div.docheader div.docrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.content form div.formline select,
.clientcontent form div.formline select,
div.docheader div.formline select,
.content form div.docrow select,
.clientcontent form div.docrow select,
div.docheader div.docrow select,
.content form div.formline input,
.clientcontent form div.formline input,
div.docheader div.formline input,
.content form div.docrow input,
.clientcontent form div.docrow input,
div.docheader div.docrow input,
.content form div.formline div.value,
.clientcontent form div.formline div.value,
div.docheader div.formline div.value,
.content form div.docrow div.value,
.clientcontent form div.docrow div.value,
div.docheader div.docrow div.value {
  flex-grow: 1;
  width: 60%;
}
.content form div.formline label,
.clientcontent form div.formline label,
div.docheader div.formline label,
.content form div.docrow label,
.clientcontent form div.docrow label,
div.docheader div.docrow label,
.content form div.formline div.label,
.clientcontent form div.formline div.label,
div.docheader div.formline div.label,
.content form div.docrow div.label,
.clientcontent form div.docrow div.label,
div.docheader div.docrow div.label {
  flex-grow: 1;
  width: 20%;
}
.content form div.formline:first-child,
.clientcontent form div.formline:first-child,
div.docheader div.formline:first-child,
.content form div.docrow:first-child,
.clientcontent form div.docrow:first-child,
div.docheader div.docrow:first-child {
  margin-top: 10px;
}
div.submenu {
  align-items: stretch;
  background: #f7f7f7;
}
div.menu {
  display: flex;
  align-items: stretch;
}
div.menu form {
  margin: 0;
}
div.item {
  display: flex;
  align-items: center;
  padding: 0em 1em;
}
div.menu.item:hover {
  background: yellow;
}
div.menu.item:hover a {
  color: black;
}
div#pcart {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
div#pcart div.pitem {
  padding: 5px;
  border: 1px solid;
  border-bottom: none;
  display: flex;
  flex-direction: column;
}
div#pcart div.pitem:last-child {
  border-bottom: 1px solid;
}
div#pcart div.pitem div.prow1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}
div#pcart div.pitem div.prow1 div.pname {
  flex-basis: 40%;
  flex-grow: 1;
  text-align: left;
}
div#pcart div.pitem div.prow1 div.pprice {
  flex-basis: 20%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.pqty {
  flex-basis: 20%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.pamount {
  flex-basis: 20%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.pdelete {
  flex-basis: 10%;
  flex-grow: 1;
}
div#pcart div.pitem div.prow1 div.pdelete button {
  padding: 0;
}
div#pcart div.pitem div.pinstr {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 3px 0;
}
div#pcart div.pitem div.pinstr input {
  width: 100%;
  outline: none;
  border: 0;
  border-style: none none dotted none;
  border-width: 1px;
  border-color: #888;
}
