//@hcolor: rgb(222, 126, 73);
@hcolor: #1d365d;
@fcolor: #f1f1f1;
@sdbcolor: #f1f1f1;
@titlecolor: white;


body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
    background: @sdbcolor;
}

header {
    height: 3em;
    background: @hcolor;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1em;

    color: #fff-@hcolor;
    a {
        color: white;
    }
}
footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 3em;

    background: @hcolor;
    color: white;
    //color: #fff-@fcolor;
    font-family: sans-serif;
    div {
        display: flex;
        align-items: center;
    }
}
div.path {
    display: flex;

    height: 2em;
    background: @sdbcolor;
    //background: cornsilk;
    justify-content: flex-start;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1em;

    div {
        padding: 0 1em 0 2em;
        display: flex;
        align-items: center;
        position: relative;
        &:first-child {
            background: hsl(0,0%,30%);
            padding: 0 1em 0 1em;
        }
        &:nth-child(2) {
            background: hsl(0,0%,40%);
        }
        &:nth-child(3) {
            background: hsl(0,0%,50%);
        }
        &:last-child {
            background: inherit;
            color: black;
        }
        &:after {
            background: inherit;
            display: block;
            content: ' ';
            height: 100%;
            width: 2em;
            position: absolute;
            right: -16px;
            transform: scale(0.7) rotate(45deg);
            z-index: 1;
            box-shadow: 2px -2px 0 1px cornsilk;
    }

    color: #fff-@hcolor;
    }
}


.wdgwrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px;
    //margin-bottom: 20px;
    //padding: 10px;
}

ul.wdgmenu {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px 0;
    margin: 0;
    list-style: none;
    background: @sdbcolor;
    li {
        display: inline-block;
        vertical-align: middle;
        padding: 0.5em 1em;
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 1em;
        color: @hcolor;
        &:hover {
            background: yellow;
            color: black;
        }
    }
}
.wdgcontent {
    display: flex;
    flex: 1;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    background: white;
    //margin: 20px;
    //padding: 20px;
    //border: 1px solid black;
    //border-radius: 5px;
}
.wdgcontent2 {
    display: flex;
    flex: 1;
    align-items: stretch;
}

.main {
    display: flex;
    flex-direction: row;
    background: white;
    flex: 1;
}

.clientcontent {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 1;
    padding-left: 10em;
    padding-top: 1em;
}

.content {
    display: flex;
    width:100%;
    flex-direction: column;
    padding-left: 2em;
}

.sidebar {
    flex: 0 0 6em;
}


table {
    table-layout: fixed;
    border-collapse: collapse;
    font-family: sans-serif;
    tr:nth-child(even){
        background-color: #f2f2f2;
    }
    //tr:hover{
        background-color: #ddd;
    //}
    th {
        background-color: #777;
        color: white;
    }
    th, td {
        padding: 3px 5px;
    }
    td input{
        width: 100%;
        outline: none;
        border: 0;
        border-style: none none dotted none;
        border-width: 1px;
        border-color: #888;
        background: inherit;
        font: inherit;
    }
}
table, th, td {
    border: 1px solid #ddd;
}

h1 {
    margin: 0;
    padding: 20px;
    //background: @sdbcolor;
    //border-bottom-style: solid;
    //border-color: #eee;
    //background: @sdbcolor;
    font-family: sans-serif;
    font-size: 1.5em;
}

div.wdgform {
    padding: 20px;
    border: 1px solid black; 
    display: flex;
    width: 500px;
    flex-direction: column;
    align-self: flex-start;
    div {
        display: flex;
        height: 2.2em;
        justify-content: space-between;
        flex-direction: row;
        //margin: 1em 1em 0 1em;
        &:not(:first-child) {
            margin-top: 1em;
        }
        label, input, select {
            box-sizing: border-box;
            width: 50%;
            display: flex;
            align-items: center;
        }
    }
    button {
        margin: 0 0 1em 0;

    }
}

div#errPlace {
   background: #faa484;
} 
tr.deleted {
    text-decoration: line-through;
}

.content form, .clientcontent form, div.docheader {
    width: 600px;
    display: flex;
    flex-direction: column;
    div.formline, div.docrow {
        @space: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: @space;
        select, input, div.value {
            flex-grow: 1;
            width: 60%;
            //height: 1em;
        }
        label, div.label {
            flex-grow: 1;
            width: 20%;
        }
        &:first-child{
            margin-top: @space;
        }
    }
}
div.submenu {
    //display: flex;
    align-items: stretch;
    background: #f7f7f7;
}
div.menu {
    display: flex;
    align-items: stretch;
    form {
        margin: 0
    }
}

div.item {
    display: flex;
    align-items: center;
    padding: 0em 1em;
}

div.menu.item:hover {
        background: yellow;
        a {
            color: black;
        }
    }
div#pcart {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    div.pitem {
        @border: 1px solid;
        padding: 5px;
        border: @border;
        border-bottom: none;
        &:last-child {
            border-bottom: @border;
        }
        display: flex;
        flex-direction: column;
        div.prow1 {
            display: flex;
            flex-direction: row;
            text-align: center;
            vertical-align: middle;
            align-items: center;
            div.pname {
                flex-basis: 40%;
                flex-grow: 1;
                text-align: left;
            }
            div.pprice {
                flex-basis: 20%;
                flex-grow: 1;
            }
            div.pqty {
                flex-basis: 20%;
                flex-grow: 1;
            }
            div.pamount {
                flex-basis: 20%;
                flex-grow: 1;
            }
            div.pdelete{
                flex-basis: 10%;
                flex-grow: 1;
                button {
                    padding: 0;
                }
            }
        }
        div.pinstr {
            flex-basis: 100%;
            flex-grow: 1;
            padding: 3px 0;
            input {
                width: 100%;
                outline: none;
                border: 0;
                border-style: none none dotted none;
                border-width: 1px;
                border-color: #888;
                //background: inherit;
                //font: inherit;
            }
        }
    }
}
