@charset "utf-8";

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* CSS Document Pescado La Cruz*/
/*-----------------------------------------*/
a.link{
    color:#df0000; 
    text-decoration:none;
	border-bottom: 1px dashed #df0000;
}
a:hover.link{
    color:#000;  
    text-decoration:none;
	border-bottom: 1px dashed #000;
}
/*-----------------------------------------*/
a{
    color:#000; 
    text-decoration:none;
}
a:hover{
    color:#df0000;  
    text-decoration:underline;
}
/*-----------------------------------------*/
*{
	margin:0;
	padding:0;
	outline:0;
	margin:0;
}
html{
    box-sizing: border-box;
	overflow-x:hidden;
	font-family:Candara;
	min-width:380px;
	background-image:url(/static/images/back.jpg);
	background-size:100%;
	background-position:top;
	background-repeat:no-repeat;
}
/*-----------------------------------------*/
@font-face{
	font-family:Candara;
	src: url(/static/font/Candarar.ttf);
}
@font-face{
	font-family:Candarab;
	src: url(/static/font/Candarab.ttf);
}
/*-----------------------------------------*/
.pading-menu{padding-left:30px;}
.pading-shop{padding-right:30px;}
.image{margin-top:10px;margin-bottom:30px;}
.pading-logo-footer{margin-bottom:10px;}
/*-----------------------------------------*/
h1{font-size:36px;line-height:1.0;}
h2{font-size:21px;margin-top:20px;line-height:1.0;font-family:Candarab;}
h3{font-size:18px;line-height:1.2;}
/*-----------------------------------------*/
.head{
	margin:0 auto;
	width:100%;
	height:500px;
	/*background-color:#CCC;*/
	min-width:400px;
	max-width:1300px;
}
.head-01{
	float:left;
	width:20%;
	height:330px;
	/*background-color:#C36;*/
	padding-top:170px;
}
.head-02{
	float:left;
	width:60%;
	height:370px;
	/*background-color:#C93;*/
	text-align:center;
	padding-top:130px;
}
.head-03{
	float:left;
	width:20%;
	height:345px;
	/*background-color:#C36;*/
	text-align:right;
	padding-top:155px;
    font-family:Candarab;
}
.pading-shop{
    line-heght:0.8;
    font-size:28px;
}
/*-----------------------------------------*/
.content{
    column-count: 2;
    column-gap: 25px;
	max-width:755px;
	/*height:auto; */
	/*background-color:#966;*/
	margin:0 auto;
	text-align:center;
	min-width:400px;
}
.content-01{
	display:inline-block;
    width:100%;
    margin: 0 0 1em;
	/*width:365px; */
	height:auto;
	background-color:#FFF;
	border: 4px solid #000;
	/*margin-left:15px;
	margin-top:30px;
	margin-right:15px;
    */
}
/*-----------------------------------------*/
.box{
	width:90px;
	height:58px;
	margin-left:18px;
	margin-top:18px;
	text-align:center;
	float:left;
	padding-top:12px;
	font-size:20px;
	font-family:Candarab;
	line-height:1.0;
	border: 3px solid #999999;
}
.box:hover{
    color: #df0000
}
.active{
	border: 3px solid #cd0000;
	color:#cd0000;
}
.title{
	float:left;
	width:365px;
	height:80px;
	/*background-color:#333;*/
	margin-top:-20px;
	background-image:url(/static/images/white.jpg);
	background-repeat:no-repeat;
	background-position:top;
}
.ves{
	float:left;
	width:365px;
	height:80px;
	/*background-color:#999;*/
}
.photo{
	float:left;
	width:365px;
	height:120px;
	/*background-color:#666;*/
	padding-top:10px;
	padding-bottom:15px;
}
.boxer{
	float:left;
	width:365px;
	height:auto;
	/*background-color:#333;*/
	padding-bottom:30px;
}
.all{
	float:left;
	width:365px;
	height:35px;
	/*background-color:#999;*/
	font-size:21px;
	font-family:Candarab;
	background-image:url(/static/images/title.png);
}
.upokovka{
	float:left;
	width:365px;
	height:30px;
	/*background-color:#999;*/
	font-size:21px;
	font-family:Candarab;
	background-image:url(/static/images/title-02.png);
}
.title-mini{
	float:left;
	width:365px;
	height:80px;
	margin-bottom:-20px;
	/*background-color:#999;*/
}
.item{
    display: table;
	/*float:left; */
	width:365px;
	/*height:80px; */
	/*background-color:#C99;*/
}
.paket-01{
    display: table-cell;
	/* float:left; */
	width:250px;
	/* height:65px; */
	/*background-color:#C03;*/
	text-align:left;
	font-size:21px;
	line-height:1.0;
	/* padding-top:15px; */
	padding-left:20px;
}
.paket-02{
    display: table-cell;
    vertical-align: top;
	/* float:left; */
	width:85px;
	/* height:80px; */
	/*background-color:#99C;*/
	font-size:50px;
	padding-right:10px;
}
.product-price {
    font-weight: bold;
}
.product-lot {
    font-style: italic;
}
.minus, .plus{
    display: inline-block;
	/*float:left; */
	/*width:32px; */
	height:80px;
	line-height:80px;
	/*background-color:#06C;*/
	font-size:40px;
	text-align:center;
    vertical-align: middle;
}
.minus:hover, .plus:hover{
    color: #df0000
}
.pkgqty{
    display: inline-block;
	/* float:left; */
	/*width:46px; */
	height:80px;
	line-height:80px;
	/*background-color:#CCC;*/
	font-size:30px;
	text-align:center;
}
.line{
	float:left;
	width:365px;
	height:13px;
	/*background-color:#99C;*/
	background-image:url(/static/images/title-03.png);
}
.end{
	float:left;
	width:365px;
	height:40px;
	/*background-color:#9F3;*/
	margin-bottom:-30px;
	background-image:url(/static/images/fish.jpg);
	background-position:center;
	background-repeat:no-repeat;
	padding-bottom:15px;
}
.paket-02 input[type="text"] {
	height:40px;
	width:80px;
	margin-right:7px;
	font-size:21px;
	border:3px solid #000;
	margin-top:10px;
	font-family:Candarab;
	text-align:center;
	color:#000;
}
/*-----------------------------------------*/
.footer{
	margin:0 auto;
	width:100%;
	height:200px;
	/*background-color:#CCC;*/
	min-width:400px;
	background-image:url(/static/images/back-footer.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:bottom;
	text-align:center;
	padding-top:200px;
	font-size:21px;
	line-height:1.0;
}














